<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
    </head>
    <body>
        
        <table border="1">
            <thead>
                <tr bgcolor="gray">
                    <?php foreach ($thead as $thValue) { ?>
                    <th><?= $thValue; ?></th>
                    <?php } ?>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($tbody as $trValue) { ?>
                <tr>
                    <?php foreach ($trValue as $tdValue) { ?>
                    <td><?= $tdValue; ?></td>
                    <?php } ?>
                </tr>
                <?php } ?>
            </tbody>
        </table>
        
        <?php if (count($paginator)) { ?>
        <div>
            <ul style="list-style: none; padding: 0;">
                <?php foreach ($paginator as $page) { ?>
                <li style="float: left; padding-right: 10px;"><a href="<?= $basePath; ?>/<?= $args['start']; ?>/<?= $args['end']; ?>?page=<?= $page; ?><?php if ($query) { echo '&'.$query; } ?>"><?= $page; ?></a></li>
                <?php } ?>
            </ul>
        </div>
        <?php } ?>
    </body>
</html>
